@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */

/* Dedication */
[epub|type~="dedication"] header p{
	font-variant: small-caps;
}

[epub|type~="dedication"] header [epub|type~="z3998:personal-name"]{
	font-size: larger;
}

[epub|type~="dedication"] p:nth-of-type(2){
	text-indent: 0;
}

[epub|type~="dedication"] footer > p:first-child{
	text-align: center;
}

[epub|type~="dedication"] [epub|type~="z3998:signature"]{
	margin-right: 2em;
}
/* End dedication */

/* Custom */
[id="the-old-english-baron"] blockquote:nth-of-type(6) [epub|type~="z3998:salutation"]{
	font-variant: normal;
}
/* End custom */
